html {font-family:Arial; font-size:12pt;}
a {color:#000000; font-weight:normal;}
abbr {cursor:help;}
table {border-collapse:collapse;}
th {font-weight:normal;}
th, td {border:1px solid #000000;}
td#topleft {text-align:center;}
td.controls div {width:5em;}
td.controls div a {text-decoration:none;}
td.controls span.pointer {cursor:pointer;}
td.controls span.hidden {color:transparent; cursor:default;}
th.student {vertical-align:bottom;}
th.student div {height:auto; max-height:4em; overflow:hidden;}
th.row-header div {text-align:left; width:15em;}
th.column-header {vertical-align:top;}
th.assignment span.expander {font-family:monospace; cursor:pointer;}
th.assignment span.expander-filler {font-family:monospace;}
td.grade, td.grade input {text-align:right; font-size:inherit; min-width:7em; max-width:7em; height:1.25em; border:0; padding:0;}
td.grade {border:1px solid #ECECEC;}
td.grade.readonly {
    background-repeat:no-repeat;
    /* lock icon from https://linearicons.com/free */
    background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KPHBhdGggZmlsbD0iIzAwMDAwMCIgZD0iTTE0LjUgOGgtMC41di0xLjVjMC0yLjQ4MS0yLjAxOS00LjUtNC41LTQuNXMtNC41IDIuMDE5LTQuNSA0LjV2MS41aC0wLjVjLTAuODI3IDAtMS41IDAuNjczLTEuNSAxLjV2OGMwIDAuODI3IDAuNjczIDEuNSAxLjUgMS41aDEwYzAuODI3IDAgMS41LTAuNjczIDEuNS0xLjV2LThjMC0wLjgyNy0wLjY3My0xLjUtMS41LTEuNXpNNiA2LjVjMC0xLjkzIDEuNTctMy41IDMuNS0zLjVzMy41IDEuNTcgMy41IDMuNXYxLjVoLTd2LTEuNXpNMTUgMTcuNWMwIDAuMjc2LTAuMjI0IDAuNS0wLjUgMC41aC0xMGMtMC4yNzYgMC0wLjUtMC4yMjQtMC41LTAuNXYtOGMwLTAuMjc2IDAuMjI0LTAuNSAwLjUtMC41aDEwYzAuMjc2IDAgMC41IDAuMjI0IDAuNSAwLjV2OHoiPjwvcGF0aD4KPC9zdmc+Cg==");
}
td.grade input {background-color:transparent; cursor:cell;}
td.grade.parsing {
    background-repeat:no-repeat;
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='1em' width='1em'><text x='0' y='1em'>!</text></svg>");
}
