html {font-family:Arial; font-size:12pt;}
table {border-collapse:collapse;}
th, td {border:1px solid #000000;}
th div, td div {height:1.5em; max-height:1.5em; overflow:hidden;}
td#topleft {text-align:center;}
td.controls div {width:5em;}
td.controls div a {text-decoration:none;}
td.controls div a:hover {font-weight:bold;}
th.student {vertical-align:bottom;}
th.student div {height:auto; max-height:4em; overflow:hidden;}
th.assignment div {text-align:left; width:15em;}
td.grade, td.grade input {text-align:right; font-size:inherit;}
td.grade input {min-width:7em; max-width:7em; height:1.25em; border:0;}
