<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Over/Under</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/js/main.js"></script>
    </head>
    <body>
        <table>
            <tr>
                <td id="topleft">
                    <a href="/save">Save</a>
                    /
                    <a href="/reload">Reload</a>
                    /
                    <a href="/assignments-students/{{ assignment_filter }}/{{ student_filter }}/">Transpose</a>
                    /
                    <a href="/students-assignments/all/all/">Unfilter</a>
                </td>
                {% for assignment in assignments %}
                <th class="column-header">
                    {{ (assignment.depth - min_depth) * '<br>' | safe }}
                    <a href="/students-assignments/{{ student_filter }}/{{ assignment.qualified_name }}/">
                        {{ assignment.name }}
                    </a>
                </th>
                {% endfor %}
            </tr>
            {% for student in students %}
            <tr>
                <th class="row-header"><div>
                    <a href="/students-assignments/{{ student.alias }}/{{ assignment_filter }}/">
                        {{ student.first_name }} {{ student.last_name }}
                    </a>
                    <a href="mailto:{{ student.email }}">&#x2709;</a>
                </div></th>
                {% for assignment in assignments %}
                {% set grade = gradebook.get_grade(student.alias, assignment.qualified_name) %}
                {% if grade.is_leaf %}
                <td class="grade" style="background-color:{{ grade.as_color }};">
                    <input
                        type="text"
                        id="{{ student.alias }}__{{ assignment.qualified_name }}"
                        value="{{ grade.display_str }}"
                        onfocus="focus_cell(this);"
                        onblur="blur_cell(this);"
                        onkeyup="update_score(this);">
                </td>
                {% else %}
                <td class="grade readonly" id="{{ student.alias }}__{{ assignment.qualified_name }}" style="background-color:{{ grade.as_color }};">
                    <abbr title="{{ grade.projection_str }}">
                        {{ grade.display_str }}
                    </abbr>
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
    </body>
</html>
